#title {
	margin: 5px;
	padding: 5px;
	color: black;
}

#gewocsFormId {
	width: 600px;
	background: lightgrey !important;
	border-style: solid;
	border-width: 2px;
	border-color: grey;
	margin: 5px;
}

.fieldsWrap {
	padding: 2px;
	background: #ddffdd;
}

#gewocsFormId label {
	font-size: 10pt;
	float: left;
	width: 100px;
	padding: 2px;
}

#gewocsFormId select {
	font-size: 10pt;
	margin-right: 3px;
}

#coordinates {
	background: lightgreen;
}

#coordinates table {
	width: 450px;
	white-space: nowrap;
	border-style: solid;
	border-width: 1px;
}

#coordinates label {
	width: 50px;
}

div.radioButtons table {
	position: relative;
	width: 492px;
	white-space: nowrap;
}

div.radioButtons table td {
}

div.radioButtons table td input {
	position: absolute !important;
	left: 0px;
}

div.radioButtons table td label {
	width: 84px !important;
	position: absolute !important;
	left:23px;
}

#submit {
	padding-top: 10px;
	padding-bottom: 10px;
	background: lightgrey !important;
	position: relative;
}

.submitButton {
	font-size: 18pt;
	font-weight: bold;
	position: relative;
	left: 250pt;
}

.outputType {
	width: 8em !important;
}