/**
 * Basic Typography and page layout
 */
html,body,form,fieldset {
	margin: 0;
	padding: 0;
}

body {
	color: #020202;
	background: #FFFFFF;
	line-height: 150%;
	font-family: "Lucida Grande", Verdana, Geneva, Lucida, Arial, Helvetica,
		sans-serif;
	font-size: 10pt;
	width: 100%;
	min-width: 610px;
	min-height: 700px;
}

body#bd {
	color: #333333;
	background: #F2F2F2;
}

body.contentpane {
	width: auto; /* Printable Page */
	margin: 1em 2em;
	line-height: 1.3em;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #333;
}

/* Title text */
strong,h1,h2,h3,h4 {
	font-family: "Segoe UI", Arial, Helvetica, sans-serif;
	color: #3399CC !important;
}

/* Small text */
small,.small,.smalldark,.mosimage_caption,.createby,.createdate,.modifydate,a.readon,.img_caption
	{
	color: #666666;
	font-size: 92%;
}

h1 {
	font-size: 180%;
}

p,pre,blockquote,ul,ol,h1,h2,h3,h4,h5,h6 {
	margin: 1em 0;
	padding: 0;
}

#ja-wrapper {
	background: #FFFFFF;
}

#ja-wrapper {
	width: 100%;
	margin: 0;
	background: #F2F2F2;
}

/* Clearfix */
.clearfix:after {
	clear: both;
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
}

* html>body .clearfix {
	width: 100%;
	display: block;
}

* html .clearfix {
	height: 1%;
}

/* Firefox Scrollbar Hack - Do not remove */
html {
	margin-bottom: 1px;
	height: 100% !important;
	height: auto;
}