img#dropshadow {
	border: 1px solid black;
	border-left: 1px solid grey;
	border-top: 1px solid lightgrey;
	margin: 1px;
	-moz-box-shadow: 2px 2px 3px black;
	-webkit-box-shadow: 2px 2px 3px black;
	box-shadow: 2px 2px 3px black;
}