/**
 * Struts template styles
 */
.label {
	font-style: italic;
}

.errorLabel {
	font-style: italic;
	color: red;
}

.errorMessage {
	font-weight: bold;
	color: red;
}

.checkboxLabel {
	
}

.checkboxErrorLabel {
	color: red;
}

.required {
	color: red;
}

.tdLabel {
	text-align: right;
	vertical-align: top;
}